<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
  <div class="nav-bar">
    <div class="nav-header"><a href="/home">Members Only</a></div>
    <div class="nav-bar-btn-container">
      <div class="nav-bar-btn"><a href="/create-message">Create Message</a></div>
      <div class="nav-bar-btn"><a href="/admin">Become an Admin</a></div>
      <div class="nav-bar-btn"><a href="/log-out">Log Out</a></div>
    </div>
  </div>
  <div class="admin-form">
    <div class="admin-header">Enter Password</div>
    <div class="image-container"><img src="/assets/secret.png" class="message-image"/></div>
    <div class="password-container">
      <form action="" method="POST">
          <input name="password" placeholder="password" type="password" />
          <button>Submit</button>
      </form>
    </div>
  </div>

</body>
</html>