<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
  <div class="nav-bar">
    <div class="nav-header">Members Only</div>
    <div class="nav-bar-btn-container">
      <div class="nav-bar-btn"><a href="/create-message">Create Message</a></div>
      <div class="nav-bar-btn"><a href="/log-out">Become a Member</a></div>
      <div class="nav-bar-btn"><a href="/log-out">Become an Admin</a></div>
      <div class="nav-bar-btn"><a href="/log-out">Log Out</a></div>
    </div>
  </div>
  <div class="create-message-container">
      <div class="create-message-header">Create Message</div>
      <form action="" method="POST">
        <label for="title">Title</label>
        <input name="title" placeholder="title" type="text" />
        <label for="description">Description</label>
        <input name="description" type="text" />
        <button>Submit</button>
      </form>
  </div>

</body>
</html>