<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
    <div class="nav-bar">
      <div class="nav-header"><a href="/home">Members Only</a></div>
      <div class="nav-bar-btn-container">
        <div class="nav-bar-btn"><a href="/create-message">Create Message</a></div>
        <div class="nav-bar-btn"><a href="/log-out">Become a Member</a></div>
        <div class="nav-bar-btn"><a href="/log-out">Become an Admin</a></div>
        <div class="nav-bar-btn"><a href="/log-out">Log Out</a></div>
      </div>
    </div>
    <div class="main-content-container">
        <% for (var i = 0; i < list_messages.length; i++) { %>
        <div class="message-container">
          <div class="message">
            <div class="message-title"><%= list_messages[i].title %></div> 
            <div class="message-description"><%= list_messages[i].description %></div>
            <div class="message-timestamp"><%= list_messages[i].formatted_timestamp %></div>
            <div class="message-username"><%= list_messages[i].username.username %></div>
          </div>
        </div>
        <% } %>
    </div>
</body>
</html>